*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Heading */
h1 {
  font-size: clamp(2.5rem, calc(2.15rem + 1.74vw), 3.5rem);
}

h2 {
  font-size: clamp(2rem, calc(1.65rem + 1.74vw), 3rem);
}

h3 {
  font-size: clamp(1.5rem, calc(1.15rem + 1.74vw), 2.5rem);
}

h4 {
  font-size: clamp(1.13rem, calc(0.99rem + 0.65vw), 1.5rem);
}
/* Heading */

body {
  font-family: "Poppins", sans-serif;
  background-color: #00040f;
  overflow-x: hidden;
}

header {
  z-index: 999;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 50px;
  position: fixed;
  background-color: #00040f;
}

.container {
  width: min(1600px, 100% - 2rem);
  margin: 0 auto;
}

.nav--content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo > p {
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.logo--span {
  color: #5ce1e6;
}

nav ul {
  display: flex;
  gap: 50px;
}

nav ul > li > a {
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

nav ul > li > a:hover {
  color: white;
}

.toggle-nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  display: none;
}

.bar {
  width: 25px;
  height: 1px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.toggle-nav.active .bar:nth-child(2) {
  opacity: 0;
}

.toggle-nav.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.toggle-nav.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.menu {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #00040f;
  box-shadow: 0 1px 10px rgba(255, 255, 255, 0.5);
  height: 70%;
  z-index: 999;
  margin-top: 100px;
}

.menu.active {
  display: flex;
}

.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.menu ul > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.menu ul > li > a:hover {
  color: white;
}

/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

/* Hero Section */

section.hero-section {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 100px;
}

.hero-content {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  grid-template-areas: "Col01 Col02";
  width: 100%;
  height: 100%;
}

.col01 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: center;
}

.discountTag {
  position: relative;
  margin-bottom: 30px;
}

.child {
  position: absolute;
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
  padding-inline: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.discountTag .child > p {
  color: rgba(255, 255, 255, 0.6);
  font-size: clamp(0.63rem, calc(0.49rem + 0.65vw), 1rem);
}

.discountTag .child > p > span.discountSpan {
  color: white;
}

.hero--title {
  display: flex;
}

.hero--title > h1 {
  color: white;
}

.hero--title h1 > span.titleSpan {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-details > p {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(0.81rem, calc(0.7rem + 0.54vw), 1.13rem);
  line-height: 1.8;
  font-weight: 300;
}

.images {
  display: flex;
  height: 100%;
  width: 100%;
  align-self: flex-end;
  justify-content: flex-end;
}

.images > img {
  width: 100%;
  height: auto;
}

.hero-container {
  position: relative;
}

.hero-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(assets/Images/RobotHand.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background-position-x: right -150px;
  background-position-y: bottom -80px;
}

.button > img {
  width: 100%;
  height: auto;
}

.images {
  position: relative;
}

.images::before {
  content: "";
  position: absolute;
  background: url(assets/Images/circle1.svg);
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  width: 100%;
  background-position-x: left 150px;
  background-position-y: top 100px;
  animation: bounce 1s infinite 1s;
}

/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

/* 2nd Section */

section.count-down {
  width: 100%;
  height: 100%;
  padding-block: 100px;
}

.count-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  align-items: center;
  gap: 50px;
}

p > span.user-span {
  background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: clamp(0.94rem, calc(0.83rem + 0.54vw), 1.25rem);
}

p.break {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
}

p.counts {
  color: white;
  font-weight: 600;
  font-size: 40px;
}

/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

/* 3rd Section */

section.get--started {
  width: 100%;
  height: 100%;
  padding-block: 100px;
  position: relative;
}

.get--started::after {
  content: "";
  position: absolute;
  background: url(assets/Images/flare2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: top;
  background-position-x: left -50px;
  width: 100%;
  height: 200%;
  opacity: 40%;
}

.getstart-content {
  display: flex;
  justify-content: space-between;
}

.col-1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section-title > h1 {
  color: white;
  font-weight: 600;
}

.details > p {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.13rem);
  line-height: 2;
}

button.btn {
  cursor: pointer;
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
  border-radius: 10px;
  font-size: clamp(0.75rem, calc(0.66rem + 0.43vw), 1rem);
  padding: 1.3em 3em;
  font-weight: 600;
  border: 1px solid transparent;
  transition: 300ms ease;
}

button.btn:hover {
  border: 1px solid #33bbcf;
  background: none;
  color: rgba(255, 255, 255, 0.7);
}

.col-2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.rewards {
  display: flex;
  align-items: center;
  gap: 30px;
  border-radius: 20px;
  padding: 10px 40px;
  transition: 1s ease;
}

.rewards:hover {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  cursor: pointer;
}

.rewards-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-title > h4 {
  color: white;
}

.text-detail > p {
  color: rgba(255, 255, 255, 0.6);
  font-size: clamp(0.75rem, calc(0.66rem + 0.43vw), 1rem);
}

/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

/* 3rd Section */

.billingSection {
  width: 100%;
  height: 100%;
  padding-block: 100px;
}

.billing-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.col-Two {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.billing-title > h1 {
  color: white;
  font-weight: 600;
}

.billing-detail > p {
  font-size: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.13rem);
  color: rgba(255, 255, 255, 0.6);
  line-height: 2;
}

.billing-buttons {
  display: flex;
  align-items: center;
  gap: 50px;
}

.col-One > img {
  width: 100%;
  height: auto;
}

/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

/* 4th Section */

.paymentMethod {
  width: 100%;
  height: 100%;
  padding-block: 100px;
}

.method-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.columnOne {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.method-title > h1 {
  color: white;
  font-weight: 600;
}

.method-detail > p {
  color: rgba(255, 255, 255, 0.6);
  font-size: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.13rem);
  line-height: 2;
}

.columnTwo > img {
  width: 100%;
  height: auto;
}

/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

/* 5th Section */

.peoplesaying {
  width: 100%;
  height: 100%;
  padding-block: 50px;
  position: relative;
}

.peoplesaying::before {
  content: "";
  position: absolute;
  background: url(assets/Images/flare3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  height: 300%;
  opacity: 30%;
  width: 100%;
}

.saying-content {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
}

.saying-title > h1 {
  color: white;
  font-weight: 600;
}

.column--2 {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.column--2 > p {
  color: rgba(255, 255, 255, 0.6);
  line-height: 2;
  font-size: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.13rem);
}

/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

/* 6th Section */

.advices {
  width: 100%;
  height: 100%;
  padding-block: 100px;
}

.advices-content {
  display: flex;
  justify-content: space-between;
}

.person-image > img {
  height: 48px;
  width: 48px;
}

.person {
  display: flex;
  align-items: center;
  gap: 30px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 40px;
  border-radius: 50px;
  gap: 30px;
}

.card-container:hover {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  backdrop-filter: blur(5px);
}

.card-detail > p {
  color: white;
  line-height: 2;
  font-size: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.13rem);
}

.person-detail > p {
  color: white;
}

.person-detail > p.person-position {
  color: rgba(255, 255, 255, 0.6);
}

/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

/* 6th section */

.sponsers {
  width: 100%;
  height: 100%;
  padding-block: 50px;
}

.sponsers-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

/* 7th Section */

.service {
  width: 100%;
  height: 100%;
  padding-block: 100px;
}

.service-container {
  border-radius: 20px;
  background: linear-gradient(
    200deg,
    #ffffff -200.56%,
    #6d6d6d -150.47%,
    #11101d 80.61%
  );
  backdrop-filter: blur(5px);
}

.service-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 100px;
}

.coluOne {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.coluOne > h1 {
  color: white;
  font-weight: 600;
}

.coluOne > p {
  color: rgba(255, 255, 255, 0.6);
  font-size: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.13rem);
}

/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

/* Footer */

.footer {
  width: 100%;
  height: 100%;
  padding-block: 100px 50px;
  background-color: rgba(11, 10, 12, 0.6);
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-self: flex-start;
}

.footer-logo > img {
  width: 100%;
  height: auto;
}

.footer-logo > p {
  color: rgba(255, 255, 255, 0.7);
  font-size: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.13rem);
}

.links--title > p {
  color: white;
  font-weight: 300;
  font-size: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.13rem);
}

.usefull-links {
  height: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

ul.usefullLink {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ul.usefullLink li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: clamp(0.75rem, calc(0.66rem + 0.43vw), 1rem);
}

ul.usefullLink li > a:hover {
  color: white;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.copyright > p {
  color: white;
  font-weight: 500;
  font-size: clamp(0.88rem, calc(0.79rem + 0.43vw), 1.13rem);
}

p > span.copyrightspan {
  font-weight: 200;
}

.footer--copyrights {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialIcons > ul {
  display: flex;
  gap: 20px;
}

.socialIcons ul > li > a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
}

.socialIcons ul > li > a:hover {
  color: white;
}

/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0); /* Bounce back to original position */
  }
  40% {
    transform: translateY(-30px); /* First bounce height */
  }
  60% {
    transform: translateY(-15px); /* Second bounce height */
  }
}
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */
/* -------------------------------------------- -------------------------------------------- */

/* Responsive */

@media (max-width: 700px) {
  nav {
    display: none;
  }

  .toggle-nav {
    display: flex;
  }
}

@media (max-width: 1080px) {
  .service-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 1324px) {
  .hero-content {
    grid-template: repeat(2, 1fr) / 1fr;
    justify-items: center;
  }
}

@media (max-width: 450px) {
  .hero-section {
    padding-top: 150px !important;
  }

  .images::before {
    background-position-x: left;
    background-position-y: top;
  }
}

@media (max-width: 500px) {
  .images::before {
    background-position-x: left;
  }

  .footer--copyrights {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .service-content {
    padding-inline: 30px !important;
  }
}

@media (max-width: 400px) {
  .images::before {
    background-position-y: top 30px;
  }
}

@media (max-width: 800px) {
  .hero-container::before {
    background-position-y: bottom;
    background-position-x: left;
  }

  .footer-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 250px) {
  .footer-content {
    text-align: center;
  }
}

@media (max-width: 1220px) {
  .getstart-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}

@media (max-width: 1048px) {
  section.count-down {
    margin-top: 50px;
  }

  .count-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }

  .break {
    display: none;
  }
}

@media (max-width: 1100px) {
  .billing-content,
  .method-content,
  .advices-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}

@media (max-width: 900px) {
  .saying-content {
    grid-template: 1fr / 1fr;
    place-items: center;
    gap: 50px;
  }

  .sponsers-content {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
}
